 <!-- holds the navbar -->


 <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>web</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

	<nav class="navbar navbar-dark bg-dark">
		<div class="navbar-header">
			<a  class='navbar-brand'href="{{url_for('index')}}">home</a>
			<a  class='navbar-brand'href="{{url_for('puppies.add')}}"> add</a>
			<a  class='navbar-brand'href="{{url_for('puppies.list')}}">list</a>
			<a class='navbar-brand'href="{{url_for('puppies.delete')}}">delete</a>
			<a class='navbar-brand'href="{{url_for('owners.addowner')}}">addowner</a>
		</div>
	</nav>
	

	{% block content %}

	{% endblock %}
</body>
</html>